<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="false"
        android:label="ViperBrowser"
        android:usesCleartextTraffic="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.ViperBrowser"
        android:hardwareAccelerated="true"
        android:largeHeap="false"
        android:icon="@android:drawable/ic_menu_search"
        android:roundIcon="@android:drawable/ic_menu_search"
        android:debuggable="false"
        android:extractNativeLibs="false"
        android:requestLegacyExternalStorage="false"
        android:supportsRtl="false"
        android:allowTaskReparenting="false"
        android:backupAgent=""
        android:hasCode="true"
        android:icon="@android:drawable/ic_menu_search">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode|smallestScreenSize"
            android:theme="@style/Theme.ViperBrowser"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:hardwareAccelerated="true"
            android:alwaysRetainTaskState="true"
            android:excludeFromRecents="false"
            android:noHistory="false"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
